<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/drop.css">
  </head>
  <body>
    <div id="welcome"> <!--header of the homepage-->
      <h1>Welcome To Simple Piano Keys</h1>
    </div>
    <div> <!--navigation-->
      <nav id="nav">
        <h2>
          <a href="/" class="navitems"> Home</a> <!--Home Button-->
        </h2>
        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Song List</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/ode">Ode To Joy</a>
            <a href="/twinkle">Twinkle Twinkle Little Star</a>
            <a href="/joy">Joy To The World</a>
            <a href="/spider">The Itsy Bitsy Spider</a>
            <a href="/jingle">Jingle Bells</a>
            <a href="/mary">Mary Had a Little Lamb</a>
            <a href="/teapot">I'm A Little Teapot</a>
            <a href="/london">London Bridge</a>
          </div>
        </div>
        <div>
          <h2>
            <a href = "/about" id="aboutpage"> About</a>
          </h2>
        </div>
      </nav>
    </div>
    <div>  <!-- top picrture-->
      <img src="../images/picture2.png" id="about1pic">
    </div>
    <div id="descripton"> <!--The descripton is on the left and picture will be on the left-->
      <div><!-- Left Description-->
        <div><!-- header of the discription-->
          <h2 id="discheader">About!</h2>
        </div>
        <div id="disctext"><!-- description -->
          <h3>Thank you for checking out Simple Piano Keys!<br>
              This website is a user friendly website that allows anyone<br>
               to play the piano online.<br><br>
               Whether you play the piano or not<br>
               Simple Piano Keys offers differnt songs <br>
               with simple instructions to follow.<br><br>
               In order to play, use the mouse to click <br>
               on any note. You can also play the notes <br>
               with the keyboard by pressing the key that <br>
               matches with the note.
          </h3>
        </div>
      </div><!-- End of Description-->
      <div><!--middle picture-->
        <img src="../images/treble.svg" id="treble">
      </div>
      <div> <!--Right:Congtact me section-->
        <div id="discheader">
          <h2>Questions, Comments, or Song Suggestions?</h2>
        </div>
        <div id="desctext">
          <h3>Thanks for playing!<br>
          Contact Me! <br>
          Linkedin: <a href="https://www.linkedin.com/in/kyle-java-4a717a169/"> Kyle Java </a><br>
          </h3>
          <h3>Thanks for checking my website out!
          </h3>
        </div>
      </div>
    </div>
    <div>
      <img src="../images/123.png"  id="bottompic">
    </div> <!-- bottompic-->
  <script type="text/javascript" src="../js/noise.js"></script>
  <script type="text/javascript" src="../js/dropbutton.js"> </script>
  </body>
</html>
