<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/drop.css">
    <title>Simple Piano Keys</title>

  </head>
  <body>
    <div id="welcome"> <!--header of the homepage-->
      <h1>Simple Piano Keys</h1>
    </div>
    <div id="about">
      <h2>Click on any note to start!</h2>
    </div>
    <div id="notes"> <!-- pictures-->
      <img  id="c" class="key" src="../images/c.jpg" alt="A picture of a C note">
      <img id="d" class="key" src="../images/d.jpg" alt="A picture of a D note">
      <img id="e"class="key" src="../images/e.jpg" alt="A picture of an E note">
      <img id="f" class="key"src="../images/f.jpg" alt="A picture of a F note">
      <img id="g" class="key"src="../images/g.jpg" alt="A picture of a G note">
      <img id="a" class="key"src="../images/a.jpg" alt="A picture of an A note">
      <img id="b" class="key" src="../images/b.jpg" alt="A picture of a B note">
      <img id="c2" class="key" src="../images/c.jpg" alt="A picture of a C note">
    </div>
    <div id="keypress"> <!-- letters for keypress-->
      <h2 class="letter">(A)</h2>
      <h2 class="letter">(S)</h2>
      <h2 class="letter">(D)</h2>
      <h2 class="letter">(F)</h2>
      <h2 class="letter">(J)</h2>
      <h2 class="letter">(K)</h2>
      <h2 class="letter">(L)</h2>
      <h2 class="letter">(;)</h2>
    </div>
    <div> <!--song selection-->
      <h1>Pick a song to play!</h1>
    </div>
    <div><!-- song names-->
      <ul id="list">
        <li><a href="/ode"><h2 class="listword">Ode To Joy</h2></a></li>
        <li><a href="/twinkle"><h2 class="listword" >Twinkle Twinkle Little Star</h2></a></li>
        <li><a href="/joy"><h2 class="listword" >Joy To The World</h2></a></li>
        <li><a href="/spider"><h2 class="listword" >The Itsy Bitsy Spider</h2></a></li>
        <li><a href="/jingle"><h2 class="listword" >Jingle Bells</h2></a></li>
        <li><a href="/mary"><h2 class="listword" >Mary Had a Little Lamb</h2></a></li>
        <li><a href="/teapot"><h2 class="listword" >I'm A Little Teapot</h2></a></li>
        <li><a href="/london"><h2 class="listword" >London Bridge</h2></a></li>
      </ul>
    </div> <!-- song names-->
    <div id="bottompic">
      <img src="../images/picture2.png" alt="">
    </div>
    <footer id="footer">
      <h3>Thanks for playing! | Simple Piano Keys 2018
      </h3>
    </footer>
  <script type="text/javascript" src="../js/noise.js"></script>

  </body>
